/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

table {
    border: none;
}

.container {
    width: 1000px;
    margin: auto;
}

.header-left {
    float: left;
    width: 332px;
}

.header-right {
    float: right;
    width: 668px;
}

.logo {
    margin-top: 36px;
}

.header-tel img {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.header-tel a {
    float: right;
    font-family: 'Raleway', sans-serif;
    color: #2d6075;
    font-size: 37px; /* Approximation due to font substitution */
    font-weight: 500;
    line-height: 18px; /* Approximation due to font substitution */
    text-align: left;
    margin-top: 19px;
    display: block;
    text-decoration: none;
}

.header-tel a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.linee {
    clear: both;
    float: right;
    margin-top: 10px;
}

.header-info {
    clear: both;
    float: right;
    width: 100%;
    margin: 10px 0 29px 0;
}

.header-info p {
    float: right;
    margin: 5px 0 0 11px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 18px; /* Approximation due to font substitution */
}

.header-info img {
    float: right;
    margin-left: 19px;
}

.navbar {
    clear: both;
    position: relative;
    height: 55px;
    background: url(../images/bg-navbar.jpg) center;
    background-size: cover;
}

.navbar .container {
    position: relative;
}

.navbar ul {
    padding: 15px 0 15px 0;
    margin: 0;
}

.navbar li {
    display: inline;
    font-family: 'Raleway', sans-serif;
    padding-right: 30px;
}

.navbar a {
    color: #fff;
    font-size: 17px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 25px; /* Approximation due to font substitution */
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a.active {
    color: #bbb;
}

.navbar a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.alert {
    position: absolute;
    top: -20px;
    right: 0;
}

.alert-header {
    background-color: #b5141d;
    box-shadow: 1px 2px 5px 0px #090909;
    width: 270px;
    height: 113px;
    position: relative;
    right: 0;
}

.alert-header-title {
    padding: 14px 13px 0 13px;
}

.alert-header-title img {
    margin-right: 13px;
    margin-bottom: 15px;
    float: left;
}

.alert-header-title p {
    margin: 0;
    padding-top: 3px;
    font-family: Calibri;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 18px;
    text-align: left;
}

.alert-header-desc {
    clear: both;
    padding: 0 12px;
}

.alert-header-desc p {
    font-family: Calibri;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
}

.alert-line {
    height: 4px;
    width: 100%;
    background: #262626;
}

.alert-body {
    background: #dedede;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.46);
    width: 270px;
    height: 428px;
}

.alert-body p {
    margin: 0;
    font-family: Calibri;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    padding: 17px 14px 0 14px; 
}

.alert-block {
    position: relative;
    margin: 22px 0;
    height: 26px;
}

.alert-block-1 {
    position: absolute;
    background-color: #222222;
    width: 32px;
    height: 26px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 26px; /* Approximation due to font substitution */
    text-align: center;
    left: 13px;
    z-index: 10;
}

.alert-block-line {
    position: absolute;
    background-color: #fff;
    width: 247px;
    height: 6px;
    left: 13px;
    top: 10px;
}

.alert-block-2 {
    position: absolute;
    background-color: #b5141d;
    width: 32px;
    height: 26px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 26px; /* Approximation due to font substitution */
    text-align: center;
    right: 10px;
}

.alert-form {
    position: relative;
}

.alert-form-shadow {
    position: absolute;
    background: url(../images/alert-form-shadow.png);
    width: 272px;
    height: 37px;
}

.alert-form h4 {
    font-family: Calibri;
    color: #060606;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    margin: 20px 15px 14px 15px;
}

.alert-form p {
    font-family: 'Trebuchet MS';
    color: #060606;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    padding: 0 17px;
}

input[type="radio"]:before {
    content: "";
    display: block;
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    border-width: 1px;
    border-color: #c0c0c0;
    background-color: #ffffff;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #a60912;
}

.aleft-form-button {
    padding-top: 20px;
    margin: auto;
    width: 222px;
}

.aleft-form-button button {
    background-color: #b5141d;
    width: 222px;
    height: 47px;
    text-transform: uppercase;
    font-family: Calibri;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 17px;
    border: none;
}

.aleft-form-button button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.banner {
    height: 617px;
    background: url(../images/bg-banner.jpg) center;
    background-size: cover;
}

.welcome {
    padding: 29px 0 42px 0;
}

.welcome .container {
    overflow: auto;
}

.welcome h1 {
    font-family: 'Open Sans', sans-serif;
    color: #65666b;
    font-size: 21.33px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 25px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleY(1.031); /* width and height properties ommitted due to transform */
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.welcome-img {
    position: relative;
    float: left;
}

.welcome-img img {
    position: relative;
    margin-left: 4px;
    z-index: 1;
    height: 165px;
    width: 334px;
}

.welcome-img-block {
    position: absolute;
    background-color: #a60912;
    width: 341px;
    height: 52px;
    top: 57px;
}

.welcome-content p {
    font-family: Calibri;
    color: #65666b;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: justify;
    padding-left: 23px;
    padding-top: 8px;
    float: right;
    width: 636px;
    margin: 0;
}

.info {
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
    background: -moz-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
    background: -o-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
    background: -ms-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
    background: linear-gradient(0deg, #ececec 0%, #f4f4f4 100%);
    padding: 19px 0 20px 0;
}

.info .container {
    overflow: auto;
    padding-bottom: 13px;
}

.info-block {
    width: 272px;
    text-align: center;
    margin-right: 92px;
    float: left;
    padding: 0;
}

.info-block:last-child {
    margin-right: 0;
}

.info-block h1 {
    font-family: 'Raleway', sans-serif;
    color: #b5141d;
    font-size: 22px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 22px 0;
}

.info-block p {
    font-family: Calibri;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 0 0 23px 0;
}

.info-block a {
    font-family: 'Myriad Pro';
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background: #b5141d;
    text-decoration: none;
    padding: 13px 19px;
    border-radius: 5px;
}

.info-block a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.services {
    padding: 29px 0 42px 0;
}

.services .container {
    overflow: auto;
}

.services h1 {
    font-family: 'Open Sans', sans-serif;
    color: #65666b;
    font-size: 21.33px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 25px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleY(1.031); /* width and height properties ommitted due to transform */
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.services ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.services li {
   list-style: none;
   border-bottom: 1px #d1d1d1 solid;
   padding: 10px 0;
   width: 272px;
   float: left;
   margin-right: 92px;
   height: 18px;
}

.services li:nth-child(3n) {
   margin-right: 0;
}

.services li:nth-child(3n):nth-last-child(-n+3) {
    border-bottom: none;
}

.services li:nth-child(3n+1):nth-last-child(-n+3),
  li:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    border-bottom: none;
}

.services li:before {
   content: '';
   display: inline-block;
   height: 8px;
   width: 4px;
   background-image: url(../images/services-arrow.png);
   margin-right: 15px;
}

.services a {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.services a:hover {
    cursor: pointer;
    color: #b5141d;
    transition: all 0.25s ease-out;
}

.services-block {
    width: 272px;
    text-align: left;
    margin-right: 92px;
    float: left;
}

.services-block:last-child {
    margin-right: 0;
}

.services-block ul {
   padding: 0;
   margin: 0;
}

.services-block li {
   list-style: none;
   border-bottom: 1px #d1d1d1 solid;
   padding: 10px 0;
}

.services-block li:last-child {
   border-bottom: none;
}

.services-block li:before {
   content: '';
   display: inline-block;
   height: 8px;
   width: 4px;
   background-image: url(../images/services-arrow.png);
   margin-right: 15px;
}

.services-block a {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.services-block a:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.services-block .active a {
    color: #b5141d;
}

.about {
    background: url(../images/bg-about.jpg) center;
    background-size: cover;
    padding: 60px 0;
}

.about .container {
    overflow: auto;
}

.about-block {
    width: 500px;
    float: right;
    padding-bottom: 25px;
}

.about h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 30px; /* Approximation due to font substitution */
    font-weight: 600;
    line-height: 21px; /* Approximation due to font substitution */
    text-align: left;
    margin: 0;
}

.about p {
    font-family: Calibri;
    color: #ffffff;
    font-size: 14.98px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 27.03px;
    text-align: left;
    transform: scaleX(1.0015); /* width and height properties ommitted due to transform */
    margin: 36px 0 46px 0;
}

.about a {
    border-radius: 13px;
    background-color: #b5141d;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 27px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 21px; /* Approximation due to font substitution */
    text-align: left;
    text-decoration: none;
    padding: 21px 43px;
}

.about a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.slogan {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 36px; /* Approximation due to font substitution */
    font-weight: 100;
    line-height: 21px; /* Approximation due to font substitution */
    text-align: center;
    padding: 41px 0;
}

.contacts {
    background-color: #2d2d2d;
    padding: 24px 0 26px 0;
}

.contacts .container {
    overflow: auto;
}

.contacts-block {
    float: left;
    margin-left: 30px;
    width: 15%;
}

.contacts-block:first-child {
    margin-left: 0;
    width: 38%;
}

.contacts img {
    float: left;
    margin-right: 10px;
}

.contacts p {
    font-family: 'Trebuchet MS';
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    margin: 0;
}

.contacts a {
    color: #ffffff;
    text-decoration: none;
}

.contacts a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.footer {
    background: #000;
    padding: 30px 0 10px 0;
}

.footer .container {
    overflow: auto;
}

.footer-block {
    width: 500px;
    float: left;
}

.footer-block p {
    font-family: 'Trebuchet MS';
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 18.045px;
    text-align: left;
}

.footer .copyright {
    font-family: Arial;
    color: #fff;
    font-size: 11.03px;
    font-weight: 400;
    line-height: 18.045px;
    text-align: left;
    margin-top: 25px;
}

.footer .copyright a {
    color: #fff;
    text-decoration: none;
}

.footer .copyright a:hover {
    color: #fff;
    opacity: 0.8;
    transition: all 0.25s ease-out;
}